.container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
}

.container-child {
    border: 1px solid red;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}