/* CSS Code */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    /* min-height: 100vh; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;

}



/* <!-- HTML !-->
<button class="button-19" role="button">Button 19</button> */

/* CSS */
.button-19 {
    appearance: button;
    background-color: #249122;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}




.button-19:after {
    background-clip: padding-box;
    background-color: #84B026;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}


.taco-background {
    background-image: url('https://img.freepik.com/free-vector/mexico-doodle-set_1284-7328.jpg?w=1380&t=st=1701725033~exp=1701725633~hmac=9e7afee70601fba284ac323d747e8fd9d038ef24d49e70fb8b3d8864314846ca');
    /* Replace with the actual path to your image */
    background-repeat: no-repeat;
    /* Prevents the image from tiling */
    background-size: contain;
    /* Adjusts the size of the image to fit the container */
    background-position: right center;
    /* Positions the image on the left side, vertically centered */
    height: 100%;
    /* Adjust the height as needed */
    width: 100%;
    /* Adjust the width as needed */


}


h1 {
    font-weight: 900;
}

.main-h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}


footer {
    text-align: center;
}

.star {
    position: relative;
    font-size: 1.5em;
    font-family: FontAwesome;
}

.star:before {
    content: "\f005";
    /* full */
    color: #f4c2be;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

.perspective {
    perspective: 500px;
}

.main_link {
    color: white;
}


.menu-main-pic {
    transition: transform 1s ease;

    &:hover {
        transform: rotateY(-60deg);
    }
}


.detail-main {
    font-size: 18px;
    font-weight: bold;
}

header {
    background-color: #D96941;
}


header a {
    color: aliceblue;
    font-weight: 1em;
}

main {
    padding: 16px;
}

nav {
    color: white
}

a {
    font-weight: bold;
    color: #557C55;

}


a:link {
    text-decoration: none;

}

a:visited {
    color: #557C55;
}

a:hover {
    text-decoration: underline;
}


img {
    margin-top: 10px;
    width: 200px;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: white;
    border-radius: 20px;
    width: 250px;
    transition: transform 500ms;
    color: #332b2a;

    &:hover {
        transform: translateY(-25px);
        box-shadow: 0px 5px 20px 10px #ff000018;
    }

    &>:is(img, span, strong) {
        transform: translateY(-40px);
    }

    &>:is(.rating, .recipe-infos) {
        transform: translateY(-20px);
    }

}



.star:before {
    content: "\f005";
    /* full */
    color: #f4c2be;
}

.full:before {
    /* color: var(--red-color); */
}




#menu-main-pic {
    margin-left: 20px;
}

.recipe-img:hover {
    /* transform: rotate(2deg);
    width: 215px;
    border: 3px solid transparent; */

}

ul {
    list-style-type: none;
}


li {
    margin-top: 0;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.footer-details {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

footer {
    margin-top: auto;
    background-color: #84B026;
    padding: 15px 15px;
}

h2 {
    font-weight: bolder;
}



.main-h1 {
    font-weight: 800;
    font-style: bold;
    color: rgb(0, 97, 0);
}

.list-container {
    margin-bottom: 0;
}

.rating {
    margin-top: 10px
}

.food_container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr
}



tr:nth-child(even) {
    background-color: rgb(225, 225, 225);
}


.detail-main {
    font-weight: 900;
    color: #557C55;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}


footer {
    font-weight: 900;
    font-size: 20px;
}